@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Roboto:wght@300&display=swap'); 

/* @font-face {
    font-family: myFirstFont;
    src: url('https://fonts.googleapis.com/css2?family=Fuggles&family=Roboto:wght@100&display=swap');
  } */

header {
    text-transform: uppercase;

}


body {
    background-color: lightgray;
    color: black;
    font-family: 'Roboto' ;
    
  
}

a {
    color: rgb(70, 55, 55);

}

.top {
    background-color: rgb(60, 18, 18);
    color: whitesmoke;
}

a:hover{
    color: red;
}
em {
    background-color: darkslategray;
    color: wheat;
}

#the_most_important {
    text-transform: uppercase;
    background-color: darkcyan;
}
h2 {
    font-family: sans-serif, serif;
    text-transform: uppercase;
}

h1{
    text-transform: uppercase;
}

h2 p::first-letter{
    font-size: x-large;         
}

tr:hover{
    background-color: sienna;
}
nav > p{
    display: inline;
    margin: 6px;
}

tr:nth-child(even) {
    background-color: rgb(74, 86, 74);        /* To make the cells alternative*/ 
}

::selection {                                   /* To change the highlight color */ 
    background: rgb(158, 89, 89);               
  }

  input[type="text"] {
    border-color: lightgray;
  }

  #nameInput{
    height: 50px;
  }

  input{
    height: 20px;
  }

  input[type=submit]:hover {
    background-color: lightblue;
    color: black;
    transition: 300ms;
  }

  input[type=reset]:hover {
    background-color: lightblue;
    color: black;
    transition: 300ms;
  }

  
 .navbar {
    
    color: black;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction: column;
    padding: 10px;
}

.bar {
    width: 50px;
    height: 5px;
    background-color: black;
    margin: 3px 0;
    
    
}

.nav-links li {
    margin: 0 10px;
    opacity: 0;          /* You can not see it here */
    transform: translateY(-20px);
    font-size: large;
    transition-duration: 0.8s;
}

.navbar:hover .nav-links #first {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s;
}

.navbar:hover .nav-links #second {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.6s;         /*  To add some delay btw them */  
    
}


.loader-container {                          /*The area around the circle*/ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    animation: removeLoaderBlock 0s 2s forwards;
}

.loader {                                           /*The circle*/ 
    border: 16px solid #f3f3f3;                  /*The whole circle*/ 
    border-top : 16px solid #3498db;              /*The part that will move*/ 
    border-right: 16px solid #3498db;   
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;         /*The whole circle is rotating not only the blue part*/ 
    
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); 
    }
}
#hide {
  visibility: hidden;
  animation: showContent 0s 2s forwards;      /*show the content after 2s*/ 
}

@keyframes showContent {                /*show the content after 2s*/ 
  to   { visibility: visible; }
}

@keyframes removeLoaderBlock {        /*To remove the loader block to be ready to show the hidden content*/ 
  to   { display: none; }
}

#bottom_right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.text_img_container{
  position: relative;
  text-align: center;
  color: white;
  display: inline;
}

td {
  text-align: center;
}
.carPhoto{
  width: 315px;
  height: 315px;
  flex-shrink: 0;

  border-radius: 20px;
  border: 1px solid var(--Gray-6, #F2F2F2);
  background: #FFF;
}

